<app-navbar></app-navbar>

<div class="favorite-container">
  <h2>My Favorites</h2>
  <div *ngIf="favorites && favorites.length; else noFavorites" class="favorites-grid">
    <div class="favorite-card" *ngFor="let item of favorites">
      <img [src]="item.imageUrl" alt="{{item.name}}" />
      <div class="favorite-info">
        <h3>{{ item.name }}</h3>
        <p class="price">{{ item.prix }} EUR</p>
        <button *ngIf="item.id" (click)="removeFavorite(item.id)">Remove</button>
      </div>
    </div>
  </div>
  <ng-template #noFavorites>
    <div class="no-favorites">
      <p>You have no favorites yet.</p>
      <img src="assets/dislike.png" alt="No Favorites" />
    </div>
  </ng-template>
</div>

<app-footer></app-footer>
