    <!-- ========================= FOOTER  ========================= -->
<footer>
  <div class="containers text-center">
    <p>&#64; 2025 This website Designed by <a href="">Creative Developers</a> All Rights Reserved</p>
  </div>
</footer>
    <!-- ========================= FOOTER END // ========================= -->

        
    <!-- ========================= FOOTER ========================= -->
    <!-- <footer class="section-footer border-top padding-y">
        <div class="container">
            <p class="float-md-right"> 
                &copy; Copyright 2021 All rights reserved
            </p>
            <p>
                <a href="#">Terms and conditions</a>
            </p>
        </div>
    </footer> -->