<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="containers">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-logo">
              <h2>NovaGadget</h2>
              <p>&copy; <span id="currentYear"></span> NovaGadget. All Rights Reserved</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-links">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="newsletter">
              <h3>Subscribe to Our Newsletter</h3>
              <div class="newsletter-form">
                <input type="email" placeholder="Enter your email" />
                <button type="submit" class="btn-submit">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom"><p>&copy; {{ currentYear }} NovaGadget. All Rights Reserved</p>

      <div class="containers">
        <div class="social-media">
          <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    
  </div>
</footer>
