<app-navbar></app-navbar>

<main class="containers" *ngIf="product">
  <div class="left-column">
    <img [src]="product.imageUrl" [alt]="product.description" class="active">
  </div>

  <div class="right-column">
    <div class="product-description">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <h3>Quantity: {{ product.quantite }}</h3>
    </div>

    <div class="product-configuration">
      <div class="product-color">
        <span>Color</span>
        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>
      </div>
    </div>
<div class="product-price">
      <span>{{ product.prix }} DNT</span>
      <a href="#" class="cart-btn" (click)="addToCart($event)">Add to cart</a>
      <button class="go-home-btn" [routerLink]="['/home']">Go Home</button>
    </div>
  </div>
</main>

<div *ngIf="isLoading" class="loading-spinner">
  Loading product details...
</div>

<div *ngIf="error" class="error-message">
  {{ error }}
  <button (click)="navigateBack()">Return to Home</button>
</div>

<app-footer></app-footer>


